.contacts__phone {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  line-height: 18px;
  padding-bottom: 2px; }
  .contacts__phone::before {
    content: "";
    background: url(../img/phone.png);
    width: 13px;
    height: 15px;
    margin-right: 5px; }
