.features__container {
  display: flex;
  flex-direction: column;
  padding: 103px 78px; }

.features__header {
  display: flex;
  flex-direction: column;
  align-items: center; }

.features__header-text {
  padding: 17px 0 50px;
  max-width: 46%;
  color: #666;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  text-align: center; }

.features__list {
  display: flex;
  justify-content: space-between; }

.features__item {
  width: calc(100% / 3 - 35px); }
  .features__item:nth-child(2) {
    position: relative; }
    .features__item:nth-child(2)::before {
      position: absolute;
      content: "";
      width: 67px;
      height: 21px;
      background: url("../img/2204.png");
      left: -58px;
      top: 58px; }
    .features__item:nth-child(2)::after {
      position: absolute;
      content: "";
      width: 67px;
      height: 21px;
      background: url("../img/2203.png");
      right: -58px;
      top: 58px; }
