
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: $gray-color;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

address {
    text-decoration: none;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.main {
    background: url(../img/main.png) lightgray 0px -142.216px / 110.909% 124.76% no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container {
    margin: 0 auto;
    width: $containerWidth;
    height: $containerHeight;
}

.main__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    padding: 24px 80px 64px;
}

.surf-title {
    color: $black-color;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}