@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700;800&family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");
* {
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 18px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 17px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 16px; } }

body {
  background: #fff;
  color: #666;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: inherit;
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

ul {
  padding: 0;
  margin: 0; }

ul li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

address {
  text-decoration: none; }

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0; }

section {
  height: 100vh;
  display: flex;
  flex-direction: column; }

.main {
  background-image: url(../img/main.png);
  background-position: center;
  background-size: cover;
  background-color: #1968b1;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); }
  @media screen and (max-width: 768px) {
    .main {
      background-image: url(../img/main_tablets.png); } }
  @media screen and (max-width: 480px) {
    .main {
      background-image: url(../img/main_phones.png); } }

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 940px;
  display: flex;
  flex-direction: column;
  flex: 1; }

.main__container {
  justify-content: center;
  color: #fff; }

.surf-title {
  color: #292929;
  font-size: 2.6666666667rem;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase; }
  @media screen and (max-width: 480px) {
    .surf-title {
      font-size: 2.2222222222rem;
      line-height: 2rem; } }

.header {
  color: #fff; }
  @media screen and (max-width: 768px) {
    .header {
      background: #1968b1; } }

.header__container {
  margin: 0 auto;
  width: 95%;
  max-width: 940px;
  display: flex;
  justify-content: space-between;
  padding: 1.3333333333rem 0; }
  .header__container .logo {
    flex-shrink: 0;
    fill: #fff; }
  .header__container .contacts {
    padding-top: 0.5555555556rem; }
  @media screen and (max-width: 768px) {
    .header__container .menu {
      display: none; }
    .header__container .contacts {
      display: none; } }

.menu {
  padding-top: 0.2222222222rem;
  margin: 0 30px; }

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.menu__item {
  white-space: nowrap;
  margin-right: 1.2222222222rem;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6666666667rem; }
  .menu__item:last-child {
    margin-right: 0rem; }

.contacts__phone {
  display: flex;
  align-items: center;
  font-size: 1.2222222222rem;
  font-weight: 700;
  line-height: 1rem;
  white-space: nowrap;
  padding-bottom: 0.1111111111rem; }
  .contacts__phone::before {
    content: "";
    background-image: url("../sprite.svg#phone");
    width: 0.7222222222rem;
    height: 0.8333333333rem;
    margin-right: 0.2777777778rem; }

.preview {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  width: 52%; }
  @media screen and (max-width: 768px) {
    .preview {
      padding: 2.7777777778rem;
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .preview {
      padding: 0; } }

.preview__title {
  color: #fff; }

.preview__subtitle {
  font-size: 1.1666666667rem;
  font-weight: 400;
  line-height: normal;
  padding-top: 0.9444444444rem;
  padding-bottom: 2.1666666667rem; }

.btn {
  display: block;
  width: 8.6666666667rem;
  height: 3.3333333333rem;
  background: #fedb3f;
  color: #000;
  border: none;
  border-radius: 5.5555555556rem;
  text-align: center;
  font-size: 0.8888888889rem;
  font-weight: 800;
  line-height: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1.2777777778rem 2.2777777778rem; }

.btn-form {
  margin-right: 0.8888888889rem; }

.btn-reset {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer; }
  .btn-reset:hover {
    color: #fedb3f; }

.marketing {
  padding: 61px 0; }
  @media screen and (max-width: 768px) {
    .marketing {
      display: none; } }

.marketing__list {
  display: flex; }

.marketing__item {
  display: flex;
  font-size: 0.8888888889rem;
  font-weight: 700;
  line-height: 1rem;
  margin-right: 1.6666666667rem; }
  .marketing__item:last-child {
    margin-right: 0rem; }

.marketing__logo {
  width: 2.2777777778rem;
  height: 2.2777777778rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.6111111111rem; }

.marketing__icon {
  fill: #fff; }

.marketing__text {
  max-width: 5rem; }

.feature {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .feature {
      flex-direction: row;
      margin-bottom: 31px; }
      .feature:last-child {
        margin-bottom: 0; } }

.feature__ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  background: #F2F5F4;
  border-radius: 50%; }

.feature__icon {
  fill: #000; }

.feature__content {
  text-align: center; }
  @media screen and (max-width: 480px) {
    .feature__content {
      text-align: left;
      padding: 9px 12px; } }

.feature__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
  margin-top: 1.1666666667rem;
  margin-bottom: 1.0555555556rem; }
  @media screen and (max-width: 480px) {
    .feature__title {
      margin-top: 0;
      margin-bottom: 10px; } }

.feature__text {
  color: #666;
  font-size: 18px;
  font-weight: 300;
  line-height: normal; }

.features__container {
  justify-content: center; }

.features__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.features__header-text {
  padding: 0.9444444444rem 0 2.7777777778rem;
  max-width: 46%;
  color: #666;
  font-size: 18px;
  font-weight: 400;
  line-height: normal; }
  @media screen and (max-width: 480px) {
    .features__header-text {
      max-width: 95%; } }

.features__list {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 480px) {
    .features__list {
      flex-direction: column; } }

.features__item {
  width: 30%; }
  @media screen and (max-width: 480px) {
    .features__item {
      width: 100%; } }
  .features__item:nth-child(2) {
    position: relative; }
    .features__item:nth-child(2)::before {
      position: absolute;
      content: "";
      width: 3.7222222222rem;
      height: 1.1666666667rem;
      background: url("../img/2204.png");
      left: -3.2222222222rem;
      top: 3.2222222222rem; }
      @media screen and (max-width: 768px) {
        .features__item:nth-child(2)::before {
          display: none; } }
    .features__item:nth-child(2)::after {
      position: absolute;
      content: "";
      width: 3.7222222222rem;
      height: 1.1666666667rem;
      background: url("../img/2203.png");
      right: -3.2222222222rem;
      top: 3.2222222222rem; }
      @media screen and (max-width: 768px) {
        .features__item:nth-child(2)::after {
          display: none; } }

.review {
  display: flex;
  background: #f8faf9;
  padding: 2.3333333333rem; }
  @media screen and (max-width: 768px) {
    .review {
      flex-direction: column;
      align-items: center;
      text-align: center; } }

.review__avatar {
  flex-shrink: 0;
  width: 14.0555555556rem;
  height: 14.6666666667rem; }
  @media screen and (max-width: 768px) {
    .review__avatar {
      width: 7.2222222222rem;
      height: 7.2222222222rem;
      margin-bottom: 1.7777777778rem; } }

.review__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2.1666666667rem;
  padding-right: 5rem; }
  @media screen and (max-width: 768px) {
    .review__content {
      padding: 0; } }

.review__title {
  color: #292929;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
  padding-top: 1.6666666667rem; }
  @media screen and (max-width: 768px) {
    .review__title {
      padding: 0; } }

.review__text {
  color: #666;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 0.5555555556rem;
  padding-left: 0.1111111111rem; }
  @media screen and (max-width: 768px) {
    .review__text {
      padding: 16px 0; } }

.review__user {
  color: #292929;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3333333333rem;
  padding-bottom: 1.6111111111rem;
  padding-left: 0.1111111111rem; }
  @media screen and (max-width: 768px) {
    .review__user {
      padding: 0; } }

.reviews__container {
  justify-content: center; }

.reviews__title {
  text-align: center;
  margin-bottom: 1.7777777778rem; }

.reviews__user-list {
  margin-top: 0.8333333333rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.reviews__user-item {
  margin-right: 0.3333333333rem; }
  .reviews__user-item:last-child {
    margin-right: 0; }

.reviews__user-icon {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border-radius: 50%; }
  @media screen and (max-width: 480px) {
    .reviews__user-icon {
      width: 3.5555555556rem;
      height: 3.5555555556rem; } }

.reviews__user-link:hover .reviews__user-icon {
  border: 0.3333333333rem solid #fedb3f; }

.order {
  background-image: url(../img/form.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: lightgrey 50%; }
  @media screen and (max-width: 768px) {
    .order {
      background-image: url(../img/form_tablets.png); } }
  @media screen and (max-width: 480px) {
    .order {
      background-image: url(../img/form_phones.png); } }

.order__container {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.order__title {
  text-align: center;
  color: #fff; }

.form {
  display: flex;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: normal; }
  @media screen and (max-width: 768px) {
    .form {
      flex-direction: column;
      align-items: center; } }

.form__left-column {
  width: 50%;
  padding-top: 3.3333333333rem;
  padding-right: 0.3888888889rem; }
  @media screen and (max-width: 768px) {
    .form__left-column {
      width: 80%;
      padding-right: 0; } }
  @media screen and (max-width: 480px) {
    .form__left-column {
      width: 100%; } }

.form__right-column {
  width: 50%;
  padding-top: 3.3333333333rem;
  padding-left: 1.1666666667rem; }
  @media screen and (max-width: 768px) {
    .form__right-column {
      width: 80%;
      padding-top: 0.7222222222rem;
      padding-left: 0; } }
  @media screen and (max-width: 480px) {
    .form__right-column {
      width: 100%; } }

.form__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7777777778rem; }
  .form__row:last-child {
    margin-bottom: 0; }

.form__row-left-position {
  display: flex;
  justify-content: flex-start;
  padding-top: 1.0555555556rem; }
  @media screen and (max-width: 480px) {
    .form__row-left-position {
      justify-content: center; } }

.form__element-full {
  width: 100%; }
  .form__element-full .form__input-text {
    width: 100%; }

.form__element-half {
  width: 48%; }
  .form__element-half .form__input-text {
    width: 100%; }

.form__element-small {
  width: 23%; }
  .form__element-small .form__input-text {
    width: 100%;
    text-align: center; }

.form__input-text {
  height: 3.2222222222rem;
  border: 3px solid transparent;
  border-radius: 5px;
  padding: 1rem 0.7222222222rem;
  color: #000;
  font-family: Open Sans;
  font-size: 0.7777777778rem;
  line-height: 1.1111111111rem; }
  .form__input-text:focus {
    border-color: #fedb3f; }
  @media screen and (max-width: 480px) {
    .form__input-text {
      height: 2rem; } }

.form__input-textarea {
  height: 8.4444444444rem;
  resize: none; }
  @media screen and (max-width: 480px) {
    .form__input-textarea {
      height: 4.5555555556rem; } }

.form__radiobutton {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 1.0555555556rem; }

.form__input-radio {
  display: none; }

.form__input-radio:checked ~ .form__radiobutton-ellipse::after {
  display: block; }

.form__radiobutton-ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  background: #fff;
  border-radius: 50%;
  margin-right: 0.5555555556rem; }
  .form__radiobutton-ellipse::after {
    content: "";
    display: none;
    width: 0.7222222222rem;
    height: 0.7222222222rem;
    background: #fedb3f;
    border-radius: 50%; }

.form__checkbox {
  display: flex;
  align-items: center;
  cursor: pointer; }

.form__input-checkbox {
  display: none; }

.form__input-checkbox:checked ~ .form__checkbox-square::after {
  display: block; }

.form__checkbox-square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.3333333333rem;
  height: 1.3333333333rem;
  background: #fff;
  border-radius: 4px;
  margin-right: 0.6666666667rem; }
  .form__checkbox-square::after {
    display: none;
    content: "";
    background-image: url("../sprite.svg#checkmark");
    width: 0.5555555556rem;
    height: 0.4444444444rem;
    overflow: hidden; }

.form__buttons {
  display: flex;
  margin-left: -0.5555555556rem;
  padding-top: 2.5555555556rem; }
  @media screen and (max-width: 768px) {
    .form__buttons {
      justify-content: center; } }
