.marketing {
  padding: 61px 0; }
  @media screen and (max-width: 768px) {
    .marketing {
      display: none; } }

.marketing__list {
  display: flex; }

.marketing__item {
  display: flex;
  font-size: 0.8888888889rem;
  font-weight: 700;
  line-height: 1rem;
  margin-right: 1.6666666667rem; }
  .marketing__item:last-child {
    margin-right: 0rem; }

.marketing__logo {
  width: 2.2777777778rem;
  height: 2.2777777778rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.6111111111rem; }

.marketing__text {
  max-width: 5rem; }
