.order {
  background: url(../img/form.png) lightgray 50%/cover no-repeat; }

.order__container {
  display: flex;
  flex-direction: column;
  padding: 62px 82px; }

.order__title {
  text-align: center;
  color: #fff; }
