.reviews__container {
  justify-content: center; }

.reviews__title {
  text-align: center;
  margin-bottom: 1.7777777778rem; }
  @media screen and (max-width: 480px) {
    .reviews__title {
      margin-bottom: 1.4444444444rem; } }

.reviews__item {
  display: none; }

.reviews__item-selected {
  display: flex; }

.reviews__user-list {
  margin-top: 0.8333333333rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.reviews__user-item {
  margin-right: 0.3333333333rem; }
  .reviews__user-item:last-child {
    margin-right: 0; }

.reviews__user-icon {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border-radius: 50%; }
  @media screen and (max-width: 480px) {
    .reviews__user-icon {
      width: 3.5555555556rem;
      height: 3.5555555556rem; } }

.reviews__user-link-selected .reviews__user-icon {
  border: 0.3333333333rem solid #fedb3f; }
