.contacts__phone {
    display: flex;
    align-items: center;

    font-size: rem(22px);
    font-weight: 700;
    line-height: rem(18px);

    white-space: nowrap;

    padding-bottom: rem(2px);
        
    &::before {
        content: "";
        background: url(../img/phone.png);
        width: rem(13px);
        height: rem(15px);
        margin-right: rem(5px);
    }
}