@import "./var.scss";

.feature__header {
    display: flex;
    justify-content: center;
}

.feature__ellipse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(126px);
    height: rem(126px);
    background: #F2F5F4;
    border-radius: 50%;
}

.feature__title {
    font-size: rem(27px);
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-top: rem(21px);
    margin-bottom: rem(19px);
}

.feature__text {
    color: $gray-color;
    font-size: $baseFontSize;
    font-weight: 300;
    line-height: normal;
    text-align: center;
}