@import "./var.scss";

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include phones {
        flex-direction: row;
        margin-bottom: 31px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.feature__header {
}

.feature__ellipse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(126px);
    height: rem(126px);
    background: #F2F5F4;
    border-radius: 50%;
}

.feature__content {
    text-align: center;

    @include phones {
        text-align: left;
        padding: 9px 12px;
    }
}

.feature__title {
    font-size: rem(27px);
    font-weight: 700;
    line-height: normal;
    margin-top: rem(21px);
    margin-bottom: rem(19px);

    @include phones {
        margin-top: 0;
        margin-bottom: 10px;
    }
}

.feature__text {
    color: $gray-color;
    font-size: $baseFontSize;
    font-weight: 300;
    line-height: normal;
}