@import "./var.scss";

.form {
    display: flex;
    color: #fff;
    font-size: $baseFontSize;
    font-weight: 400;
    line-height: normal;

    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}

.form__left-column {
    width: 50%;
    padding-top: rem(60px);
    padding-right: rem(7px);

    @include tablets {
        width: 80%;
        padding-right: 0;
    }

    @include phones {
        width: 100%;
    }
}

.form__right-column {
    width: 50%;
    padding-top: rem(60px);
    padding-left: rem(21px);

    @include tablets {
        width: 80%;
        padding-top: rem(13px);
        padding-left: 0;
    }

    @include phones {
        width: 100%;
    }
}

.form__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(14px);

    &:last-child {
        margin-bottom: 0;
    }
}

.form__row-left-position {
    display: flex;
    justify-content: flex-start;
    padding-top: rem(19px);

    @include phones {
        justify-content: center;
    }
}

.form__element-full {
    width: 100%;

    .form__input-text {
        width: 100%;
    }
}

.form__element-half {
    width: 48%;

    .form__input-text {
        width: 100%;
    }
}

.form__element-small {
    width: 23%;

    .form__input-text {
        width: 100%;
        text-align: center;
    }
}

.form__element-name {
}

.form__input-text {
    height: rem(58px);
    border: 3px solid transparent;
    border-radius: 5px;
    padding: rem(18px) rem(13px);

    color: #000;
    font-family: Open Sans;
    font-size: rem(14px);
    line-height: rem(20px);

    &:focus {
        border-color: $btn-color;
    }

    @include phones {
        height: rem(36px);
    }
}

.form__input-textarea {
    height: rem(152px);
    resize: none;

    @include phones {
        height: rem(82px);
    }
}

.form__radiobutton {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: rem(19px);
}

.form__input-radio {
    display: none;
}

.form__input-radio:checked ~ .form__radiobutton-ellipse::after {
    display: block;  
}

.form__radiobutton-ellipse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: rem(25px);
    height: rem(25px);
    background: #fff;
    border-radius: 50%;
    margin-right: rem(10px);

    &::after {
        content: "";
        display: none;
        width: rem(13px);
        height: rem(13px);
        background: $btn-color;
        border-radius: 50%;
    }
}

.form__checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.form__input-checkbox {
    display: none;
}

.form__input-checkbox:checked ~ .form__checkbox-square::after {
    display: block;
}

.form__checkbox-square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(24px);
    height: rem(24px);
    background: #fff;
    border-radius: 4px;
    margin-right: rem(12px);

    &::after {
        display: none;
        content: "";
        background: url("../img/checkmark.png");
        width: rem(10px);
        height: rem(8px);
        overflow: hidden;
    }
}

.form__buttons {
    display: flex;
    margin-left: rem(-10px);
    padding-top: rem(46px);

    @include tablets {
        justify-content: center;
    }
}