@import "./var.scss";

.form {
    display: flex;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.form__left-column {
    width: 50%;
    padding-top: 60px;
    padding-right: 7px;
}

.form__right-column {
    width: 50%;
    padding-top: 60px;
    padding-left: 21px;
}

.form__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;

    &:last-child {
        margin-bottom: 0;
    }
}

.form__row-left-position {
    display: flex;
    justify-content: flex-start;
    padding-top: 19px;
}

.form__element-full {
    width: 100%;

    .form__input-text {
        width: 100%;
    }
}

.form__element-half {
    width: 48%;

    .form__input-text {
        width: 100%;
    }
}

.form__element-small {
    width: 23%;

    .form__input-text {
        width: 100%;
        text-align: center;
    }
}

.form__element-name {
}

.form__input-text {
    height: 58px;
    border: 3px solid transparent;
    border-radius: 5px;
    padding: 18px 13px;

    color: #000;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 20px;

    &:focus {
        border-color: $btn-color;
    }
}

.form__input-textarea {
    height: 152px;
    resize: none;
}

.form__radiobutton {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 19px;
}

.form__input-radio {
    display: none;
}

.form__input-radio:checked ~ .form__radiobutton-ellipse::after {
    display: block;  
}

.form__radiobutton-ellipse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    margin-right: 10px;

    &::after {
        content: "";
        display: none;
        width: 13px;
        height: 13px;
        background: $btn-color;
        border-radius: 50%;
    }
}

.form__checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.form__input-checkbox {
    display: none;
}

.form__input-checkbox:checked ~ .form__checkbox-square::after {
    display: block;
}

.form__checkbox-square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: #fff;
    border-radius: 4px;
    margin-right: 12px;

    &::after {
        display: none;
        content: "";
        background: url("../img/checkmark.png");
        width: 10px;
        height: 8px;
        overflow: hidden;
    }
}

.form__buttons {
    display: flex;
    margin-left: -10px;
    padding-top: 46px;
}