.header {
    
    color: #fff;

    @include tablets {
        background: $main-color;
    }
}

.header__container {
    margin: 0 auto;
    width: 95%;
    max-width: $containerWidth;

    display: flex;
    justify-content: space-between;
    padding: rem(24px) 0;

    .logo {
        flex-shrink: 0;
    }

    .contacts {
        padding-top: rem(10px);
    }

    @include tablets {
        .menu {
            display: none;
        }
        
        .contacts {
            display: none;
        }
    }
}