@import "./media.scss";

.marketing {
    padding: 61px 0;

    @include tablets {
        display: none;
    }
}

.marketing__list {
    display: flex;
}

.marketing__item {
    display: flex;
    font-size: rem(16px);
    font-weight: 700;
    line-height: rem(18px);
    margin-right: rem(30px);

    &:last-child {
        margin-right: rem(0px);
    }
}

.marketing__logo {
    width: rem(41px);
    height: rem(41px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: rem(11px);
}

.marketing__icon {
    fill: #fff;
}

.marketing__text {
    max-width: rem(90px);
}