
.order {
    background-image: url(../img/form.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: lightgrey 50%;
}

.order__container {
    display: flex;
    flex-direction: column;
    padding: 62px 82px;
}

.order__title {
    text-align: center;
    color: #fff;
}