
.order {
    background-image: url(../img/form.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: lightgrey 50%;

    @include tablets {
        background-image: url(../img/form_tablets.png);
    }
}

.order__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order__title {
    text-align: center;
    color: #fff;
}