@import "./var.scss";

.review {
    display: flex;
    background: $lightgreen-color;
    padding: rem(42px);

    @include tablets {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.review__avatar {
    flex-shrink: 0;
    width: rem(253px);
    height: rem(264px);

    @include tablets {
        width: rem(130px);
        height: rem(130px);
        margin-bottom: rem(32px);
    }
}

.review__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: rem(39px);
    padding-right: rem(90px);

    @include tablets {
        padding: 0;
    }
}

.review__title {
    color: $black-color;
    font-size: rem(27px);
    font-weight: 700;
    line-height: normal;
    padding-top: rem(30px);

    @include tablets {
        padding: 0;
    }
}

.review__text {
    color: $gray-color;
    font-size: $baseFontSize;
    font-weight: 400;
    line-height: normal;
    padding-bottom: rem(10px);
    padding-left: rem(2px);

    @include tablets {
        padding: 16px 0;
    }
}

.review__user {
    color: $black-color;
    font-size: $baseFontSize;
    font-weight: 500;
    line-height: rem(24px);
    padding-bottom: rem(29px);
    padding-left: rem(2px);

    @include tablets {
        padding: 0;
    }
}