@import "./var.scss";

.reviews__container {
    justify-content: center;
}

.reviews__title {
    text-align: center;
    margin-bottom: rem(32px);
}

.reviews__user-list {
    margin-top: rem(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews__user-item {
    margin-right: rem(6px);
    
    &:last-child {
        margin-right: 0;
    }
}

.reviews__user-icon {
    width: rem(74px);
    height: rem(74px);
    border-radius: 50%;

    @include phones {
        width: rem(64px);
        height: rem(64px);
    }
}

.reviews__user-link:hover {
    .reviews__user-icon {
        border: rem(6px) solid $btn-color;
    }
}