$containerWidth: 940px;
$containerHeight: 100vh;

$baseFontSize: 18px;

$main-color: #1968b1;
$black-color: #292929;
$gray-color: #666;
$lightgreen-color: #f8faf9;
$btn-color: #fedb3f;

$laptops: 992px;
$tablets: 768px;
$phones: 480px;